@import "./df.css";
@import "./f.css";

@font-face {
    font-family: 'monts';
    src: url('/f/font/ttf/monts.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

#rpanel {
    position:fixed;
    right:10px;
    top:10px;
    width:fit-content;
    height:fit-content;
}

