.bti {
    color:gray;
    width:40px;
    height:40px;
    border-radius:4px;
    background:rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus-visible {
        color: var(--inp-fc-c);
    }

    & > svg {
        width:20px;
        height:20px;
        
        margin:auto;
    }
}

.hideable {
    opacity:0;
    pointer-events:none;

    &.a {
        opacity:1;
        pointer-events:auto;
    }
}

.dn {
    display:none;
}